<%- include('../partials/header') %>
<body>
    <nav>
        <div class="nav-wrapper deep-purple lighten-1">
          <a href="/products" class="brand-logo">HDD Medsupply</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/products"><span>Home</span><i class="material-icons left">home</i></a></li>
            <li class="active"><a href="/products/new"><span>New Product</span><i class="material-icons left">add_box</i></a></li>
            <li class="active"><a href="/orders"><span>Orders</span><i class="material-icons left">chat</i></a></li>
            <li class="active"><a href="/orders/new"><span>New Order</span><i class="material-icons left">add_box</i></a></li>           
        </ul>
    </nav>

<main>
         
    <div class="input-field">
        <div class="row">
            <form class="col s12" action="/orders/<%= order._id %>?_method=PUT" method="POST">
                <div class="row">
                    <h5>Name</h5>
                    <div class="input-field col s12">
                        <input placeholder="Enter new name" id="full_name" type="text" name="name" value="<%= order.name %>">
                        <label for="full_name" class="active">Full Name</label>
                    </div>

                    <h5>Email</h5>
                    <div class="input-field col s12">
                        <input id="email" type="text" name="email" value="<%= order.email %>">
                        <label for="email" class="active">example@domain.com</label>
                    </div>

                    <h5>Address</h5>
                    <div class="input-field col s6">
                        <input id="street" type="text" name="street" value="<%= order.street %>">
                        <label for="street" class="active">Street</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="unit" type="text" name="unit" value="<%= order.unit %>">
                        <label for="unit" class="active">Unit/Apt</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="city" type="text" name="city" value="<%= order.city %>">
                        <label for="city" class="active">City</label>
                    </div>

                    <div class="input-field col s2">
                        <input id="state" type="text" name="state" value="<%= order.state %>">
                        <label for="state" class="active">State</label>
                    </div>

                    <div class="input-field col s4">
                        <input id="zip" type="text" name="zip" value="<%= order.zip %>">
                        <label for="zip" class="active">Zip Code</label>
                    </div>

                    <h5>Payment Information</h5>
                    <div class="input-field col s6">
                        <input placeholder="Enter new card number" id="cardNumber" type="number" name="cardNumber" value="<%= order.cardNumber %>">
                        <label for="cardNumber" class="active">Card Number</label>
                    </div>

                    <div class="input-field col s3">
                        <input placeholder="Expiration" id="exp" type="text" name="exp" value="<%= order.exp %>">
                        <label for="exp" class="active">Expiration Date</label>
                    </div>

                    <div class="input-field col s3">
                        <input placeholder="CVV" id="cvv" type="number" name="cvv" value="<%= order.cvv %>">
                        <label for="zip" class="active">Security Code/CVV</label>
                    </div>                     
                </div>

                <button class="btn waves-effect waves-light grey" type="submit" value="Update" action="/orders/<%= order._id %>?_method=PUT" method="POST">Submit
                    <i class="material-icons right">send</i>
                </button>
                     
            </form>
        </div>
    </div>

    <div class="input-field">
        <div class="row">
            <form class="col s12" action="/orders/<%= order._id %>?_method=DELETE" method="POST" type="submit" value="Delete">
                <button class="btn waves-effect waves-light grey">Delete
                    <i class="material-icons right">delete_forever</i>
                </button>
            </form>
        </div>
    </div>
   
           
            
       

</main>


<%- include('../partials/footer') %>