<%- include('../partials/header') %>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">HDD Medsupply</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/products"><span>Home</span><i class="material-icons left">home</i></a></li>
            <li class="active"><a href="/orders/new"><span>New Order</span><i class="material-icons left">add_box</i></a></li>
          
          </ul>
    </nav>

    <main>
        
    
      <h3>Pending Orders</h3>
			<% if(!orders.length) { %>
			<h5>There are no orders currently available</h5>
			<% } %>
			<ul>
				<% orders.forEach(order => { %> 
          <div class="container">
          <div class="row">
              <div class="col s12 m6 l5">
                  <div class="card horizontal">
                    <div class="card-image">
                        <a class="btn-floating halfway-fab waves-effect waves-light red" href="/orders/<%= order._id %>/edit "><i class="material-icons">edit</i></a>
                    </div>
                    <div class="card-image">                     
                    </div>
                    <div class="card-content">
                      <div class="col s12">
                        <h5>Name</h5>
                        <div class="row">
                            <div class="input-field col s12">
                                <h6><%= order.name %></h6>
                            </div>
                        </div>    
            
                        <h5>Email</h5>
                        <div class="row">
                            <div class="input-field col s12">
                                <h6><%= order.email %></h6>
                            </div>
                        </div>
            
                        <h5>Address</h5>
                        <div class="row">
                            <div class="input-field col s6">
                                <h6>Street: <%= order.street %></h6>
                            </div>
            
                            <div class="input-field col s6">
                                <h6>Unit: <%= order.unit %></h6>
                            </div>
                            
                            <div class="input-field col s6">
                                <h6>City: <%= order.city %></h6>
                            </div>
            
                            <div class="input-field col s3">
                                <h6>State: <%= order.state %></h6>
                            </div>
            
                            <div class="input-field col s3">
                                <h6>Zip: <%= order.zip %></h6>
                            </div>
                        </div>
            
                        <h5>Payment Information</h5>
                        <div class="row">
                            <div class="input-field col s6">
                                <h6>Credit Card Number: <%= order.cardNumber %></h6>
                            </div>
            
                            <div class="input-field col s3">
                                <h6>Expiration: <%= order.exp; %></h6>
                            </div>
            
                            <div class="input-field col s3">
                                <h6>CVV: <%= order.cvv %></h6>
                            </div>
                        </div>          
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </div> 
      <% }) %>   
			</ul>
  
  </main>

<%- include('../partials/footer') %>