<%- include('../partials/header') %>
<body>
    <nav>
        <div class="nav-wrapper deep-purple lighten-1">
          <a href="/products" class="brand-logo" id="headtitle">HDD MedSupply</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="fas fa-bars"></i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/products"><span>Home</span><i class="material-icons left">home</i></a></li>
            <li class="active"><a href="/products/new"><span>New Product</span><i class="material-icons left">add_box</i></a></li>
            <li class="active"><a href="/orders"><span>Orders</span><i class="material-icons left">chat</i></a></li>
            <li class="active"><a href="/informations"><span>Information</span><i class="material-icons left">chat</i></a></li>
            <li class="active"><a href="/orders/new"><span>New Order</span><i class="material-icons left">add_box</i></a></li>

          </ul>
    </nav>

<main>
    <div class="row">
    <h3 class="center" id="headtitle">Products</h3>
    </div>

<section>
    <div class="row">
          <% products.forEach(product => { %> 
      <div class="container" id="text">
            <div class="col s12 m6 l5">
                <div class="card horizontal">
                  <div class="card-image">
                    <img src="<%= product.imageURL %> ">
                  </div>
                  
                

                  <a class="btn-floating halfway-fab waves-effect waves-light purple right" href="/products/<%= product._id %>/edit "><i class="material-icons">edit</i></a>
                  
                  <form class="btn-floating halfway-fab waves-effect waves-light purple left" action="/products/<%= product._id %>/add?_method=PUT" method="POST">
                    <input class="btn waves-effect waves-light" type="Submit" value="+">
                    </input>

                    <form class="btn-floating halfway-fab waves-effect waves-light purple left" action="/products/<%= product._id %>/add?_method=PUT" method="POST">
                      <input class="btn waves-effect waves-light" type="Submit" value="Deselect">
                      </input>

                  </form>
                  <div class="card-content">
                    <h5><%= product.name %> </h5> 
                    <i class="material-icons">attach_money</i><span id="productcards"><%= product.price %></span>
                    <p><%= product.description %> </p>
                    
                  </div>
                </div>
              </div>
          </div> 
      <% }) %>
    </div>   
</section>






</main>
<%- include('../partials/footer') %>