<%- include('../partials/header') %>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">HDD Medsupply</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/products"><span>Home</span><i class="material-icons left">home</i></a></li>
            <li class="active"><a href="/products/new"><span>New Product</span><i class="material-icons left">add_box</i></a></li>
            <li class="active"><a href="/orders"><span>Orders</span><i class="material-icons left">chat</i></a></li>
         
          </ul>
    </nav>

<main>
        
  <% 
  function addToCart(name, price){
    console.log(name + price)
    let cart = {
      name = product.name,
      price = product.price,
      qty = 0
    }


  }
  %> 
    
    <% products.forEach(product => { %> 
        <div class="container">
        <div class="row">
            <div class="col s12 m6 l5">
                <div class="card horizontal">
                  <div class="card-image">
                    <img src="<%= product.imageURL %> ">
                    <!-- <a class="btn-floating halfway-fab waves-effect waves-light red" href="/cart/add-to-cart/ <%= product._id %> "><i class="material-icons">add</i></a> -->

                    <a class="btn-floating halfway-fab waves-effect waves-light red" href="/products/<%= product._id %>/edit "><i class="material-icons">edit</i></a>
                    <button onclick="addToCart(product.name, product.price)"">Add to Cart</button>
                    
                    <form action="/cart/<%= product._id%>" method="POST">
                      <button type="submit" action="/cart/<%= product._id%>" method="POST" class="btn waves-effect waves-light">Add To Cart
                          <!-- <i class="material-icons right">delete_forever</i> -->
                      </button>
                  </form>
                  </div>
                  <div class="card-content">
                    <h5><%= product.name %> </h5> <h5>$ <%= product.price %> </h5>
                    <p><%= product.description %> </p>
                    
                  </div>
                </div>
              </div>
        </div>
    </div> 
    <% }) %>   


</main>







<%- include('../partials/footer') %>